# Data Cleaning and Preparation 
### Handling Missing Data
all the descriptive statistics on pandas objects exclude missing data by default. Numeric missing data is represented by NaN. This is called the sentinal value

In [ ]:
import numpy as np
import pandas as pd
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)

In [ ]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])
string_data

In [ ]:
string_data.isnull() # returns a boolean for data that are missing

In [ ]:
# assign first index
string_data[0] = None # built in None value is treated as a NA value
string_data.isnull()

In [ ]:
string_data.dropna() # returns the values that are not missing

In [ ]:
string_data.fillna('blank') # fills missing value with a string

### Filtering Out Missing Data

In [ ]:
from numpy import nan as NA
data = pd.Series([1, NA, 3.5, NA, 7])
data[data.notnull()] # filter out the missing vaues

In [ ]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],
                     [NA, NA, NA], [NA, 6.5, 3.]])
cleaned = data.dropna() # drops al rows with any missing values
data
cleaned

In [ ]:
data.dropna(how='all') # drops rows that are all NA

In [ ]:
data[4] = NA # add a column wth NAs
data.dropna(axis=1, how='all') # drops columns that are all NA, when we specify axix=1

In [ ]:
# we want ot keep only rows containing a certain number of observations
df = pd.DataFrame(np.random.randn(7,3))
df.iloc[:4,1] = NA # indexes 0 through 4, excluding 4, and column index 1, second column
df.iloc[:2,2] = NA # indexes 0 through 2 excluding2, ad column index 2, third column
df

In [ ]:
df.dropna(thresh=2) # the minimum number of non-NAN values needed in a row not to drop. Threshold = 2 means that a column as at least 2 non-NaNs to survive.

### Filling in Missing Data
fillna('value') fills in every missing value with the string. fillna returns a new object

In [ ]:
# calloing fillna with a dict allows us ot use different fill values for each column
df.fillna({1: 0.5, 2: 0}) # fills the 1 index, second column with 0.5 and fills third column with 0

In [ ]:
# fillna returns a new object but we can modify the exsiting object in-place
df.fillna(0, inplace=True)

In [ ]:
df = pd.DataFrame(np.random.randn(6, 3))
df.iloc[2:, 1] = NA
df.iloc[4:, 2] = NA
df.fillna(method='ffill') # foward fills the NA with the first vlaue from the top
df.fillna(method='ffill', limit=2) # limits the foward fill to only two entries

In [ ]:
data = pd.Series([1., NA, 3.5, NA, 7])
data.fillna(data.mean()) # fills missing vlaues with the mean

### Data Transformation

In [ ]:
# removing duplicates
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],
                     'k2': [1, 1, 2, 3, 3, 4, 4]})
data

In [ ]:
data.duplicated() # returns true for all data points in the row that are duplicates

In [ ]:
data.drop_duplicates() # drops al duplicates

In [ ]:
data['v1']= range(7) # add a column
data.drop_duplicates('k1') # drops duplicates based on only the k1 column

In [ ]:
data.drop_duplicates(['k1', 'k2'], keep='last')

### Transforming data using a function or mapping

In [38]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
                              'Pastrami', 'corned beef', 'Bacon',
                              'pastrami', 'honey ham', 'nova lox'],
                     'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [44]:
# to add a column indicating the type of animal that each food came from, we first need a mapping of each distinct meat type to the dind of animal
# this serves as a look up table
meat_to_animal = {
  'bacon': 'pig',
  'pulled pork': 'pig',
  'pastrami': 'cow',
  'corned beef': 'cow',
  'honey ham': 'pig',
  'nova lox': 'salmon'
}

In [46]:
# to map , we first eed to convert everything to lower case
lowercased = data['food'].str.lower()
lowercased
data['animal'] = lowercased.map(meat_to_animal) # adds a column by mapping the dict. The keys are in lowercase, the values are what is assigned to the column
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [50]:
data['food'].map(lambda x: meat_to_animal[x.lower()]) # also can use a lambda function. This returms on value

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object