# Cookbook Practice
[Access Data with Pandas](https://www.kaggle.com/sohier/tutorial-accessing-data-with-pandas/).

In [15]:
import pandas as pd
df = pd.read_pickle('watch')

### Accessing Data with Pandas

In [16]:
# single row
df.iloc[0] # pass in index

index
id                                     1
age                                   20
gender                                 1
height                             168.0
weight                              65.4
steps                          10.771429
heart                          78.531302
calories                        0.344533
distance                        0.008327
entropyheartperday              6.221612
entropystepsperday              6.116349
restingheartrate                    59.0
correlationheartratesteps            1.0
normalizedheartrate            19.531302
intensity                        0.13852
sdnormalizedhr                       1.0
stepsxdistance                  0.089692
device                       apple watch
activity                           Lying
Name: 0, dtype: object

In [18]:
df.loc[[0, 1, 2]] # access multiple indexes, rows

index,id,age,gender,height,weight,steps,heart,calories,distance,entropyheartperday,entropystepsperday,restingheartrate,correlationheartratesteps,normalizedheartrate,intensity,sdnormalizedhr,stepsxdistance,device,activity
0,1,20,1,168.0,65.4,10.771429,78.531302,0.344533,0.008327,6.221612,6.116349,59.0,1.0,19.531302,0.138520,1.0,0.089692,apple watch,Lying
1,2,20,1,168.0,65.4,11.475325,78.453390,3.287625,0.008896,6.221612,6.116349,59.0,1.0,19.453390,0.137967,1.0,0.102088,apple watch,Lying
2,3,20,1,168.0,65.4,12.179221,78.540825,9.484000,0.009466,6.221612,6.116349,59.0,1.0,19.540825,0.138587,1.0,0.115287,apple watch,Lying

In [19]:
df[:3] # slices 0 to 2 indexes

index,id,age,gender,height,weight,steps,heart,calories,distance,entropyheartperday,entropystepsperday,restingheartrate,correlationheartratesteps,normalizedheartrate,intensity,sdnormalizedhr,stepsxdistance,device,activity
0,1,20,1,168.0,65.4,10.771429,78.531302,0.344533,0.008327,6.221612,6.116349,59.0,1.0,19.531302,0.138520,1.0,0.089692,apple watch,Lying
1,2,20,1,168.0,65.4,11.475325,78.453390,3.287625,0.008896,6.221612,6.116349,59.0,1.0,19.453390,0.137967,1.0,0.102088,apple watch,Lying
2,3,20,1,168.0,65.4,12.179221,78.540825,9.484000,0.009466,6.221612,6.116349,59.0,1.0,19.540825,0.138587,1.0,0.115287,apple watch,Lying

In [20]:
df[3:6] # or other range 3 to 5

index,id,age,gender,height,weight,steps,heart,calories,distance,entropyheartperday,entropystepsperday,restingheartrate,correlationheartratesteps,normalizedheartrate,intensity,sdnormalizedhr,stepsxdistance,device,activity
3,4,20,1,168.0,65.4,12.883117,78.628260,10.154556,0.010035,6.221612,6.116349,59.0,1.000000,19.628260,0.139208,1.000000,0.129286,apple watch,Lying
4,5,20,1,168.0,65.4,13.587013,78.715695,10.825111,0.010605,6.221612,6.116349,59.0,0.982816,19.715695,0.139828,0.241567,0.144088,apple watch,Lying
5,6,20,1,168.0,65.4,14.290909,78.803129,11.495667,0.011174,6.221612,6.116349,59.0,1.000000,19.803129,0.140448,0.264722,0.159691,apple watch,Sitting

In [24]:
df.id.head(2) # index a column by column name
df['id'].head(2) # or like this

0    1
1    2
Name: id, dtype: int64

In [27]:
df[['id', 'age', 'gender']][:2] # double bracket returns a dataframe

index  id  age  gender
0       1   20       1
1       2   20       1

In [28]:
df.age.iloc[0] # returns a single index valure from a column

20

In [29]:
df.age.iloc[[0]] # a duoble bracket has a diffrent return type

0    20
Name: age, dtype: int64

In [30]:
(df.age == 20).head(2) # retruns a boolean series

0    True
1    True
Name: age, dtype: bool

In [31]:
df[df.age == 20].head(2) # returns a subset of the data as a dataframe

index,id,age,gender,height,weight,steps,heart,calories,distance,entropyheartperday,entropystepsperday,restingheartrate,correlationheartratesteps,normalizedheartrate,intensity,sdnormalizedhr,stepsxdistance,device,activity
0,1,20,1,168.0,65.4,10.771429,78.531302,0.344533,0.008327,6.221612,6.116349,59.0,1.0,19.531302,0.138520,1.0,0.089692,apple watch,Lying
1,2,20,1,168.0,65.4,11.475325,78.453390,3.287625,0.008896,6.221612,6.116349,59.0,1.0,19.453390,0.137967,1.0,0.102088,apple watch,Lying

In [33]:
# ~ is no, | is or, & is and
df[(df.age == 20) & (df.weight > 60)]. head(2)

index,id,age,gender,height,weight,steps,heart,calories,distance,entropyheartperday,entropystepsperday,restingheartrate,correlationheartratesteps,normalizedheartrate,intensity,sdnormalizedhr,stepsxdistance,device,activity
0,1,20,1,168.0,65.4,10.771429,78.531302,0.344533,0.008327,6.221612,6.116349,59.0,1.0,19.531302,0.138520,1.0,0.089692,apple watch,Lying
1,2,20,1,168.0,65.4,11.475325,78.453390,3.287625,0.008896,6.221612,6.116349,59.0,1.0,19.453390,0.137967,1.0,0.102088,apple watch,Lying

In [38]:
df[df.device.str.split().apply(lambda x: len(x) == 1)].head(3) # adds a lambda function as filter criteria

index,id,age,gender,height,weight,steps,heart,calories,distance,entropyheartperday,entropystepsperday,restingheartrate,correlationheartratesteps,normalizedheartrate,intensity,sdnormalizedhr,stepsxdistance,device,activity
3656,3657,20,1,168.0,65.4,1.0,132.000000,1.0,1.0,5.938588,2.179799,130.428571,1.0,1.571429,0.022587,1.0,1.0,fitbit,Lying
3657,3658,20,1,168.0,65.4,1.0,132.777778,1.0,1.0,5.938588,2.179799,130.428571,1.0,2.349206,0.033767,1.0,1.0,fitbit,Lying
3658,3659,20,1,168.0,65.4,1.0,129.888889,1.0,1.0,5.938588,2.179799,130.428571,1.0,-0.539683,-0.007757,1.0,1.0,fitbit,Lying